<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>


<body class="container">

    <header>
        <%- include('./partials/header.ejs'); %>
    </header>

    <%- include('./partials/accountside.ejs'); %>

        <main class="text-center">
            About Page
            Include Info on how things work
        </main>

        <footer>
            <%- include('./partials/footer.ejs'); %>
        </footer>



</html>