<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>


<body class="container">

    <header>
        <%- include('./partials/header.ejs'); %>
    </header>

    <%- include('./partials/accountside.ejs'); %>

        <main class="text-center">
            constant eternal screaming about act 4 in p4s p2 :D
        </main>

        <footer>
            <%- include('./partials/footer.ejs'); %>
        </footer>



</html>