<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Navigation</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tournamentregister">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/allTournaments">Tournaments</a>
        </li>

    </ul>
    <ul class="navbar-nav">
        <a class="nav-link" href="/account">Account</a>
    </ul>
    <ul class="navbar-nav">
        <a class="nav-link" href="/signout">Sign Out</a>
    </ul>
    


</nav>